requests>=2.25.1
beautifulsoup4>=4.9.3
pandas>=1.2.0
openpyxl==3.1.2
concurrent-futures-base==1.0.0
lxml>=4.6.3
urllib3>=1.26.5
certifi>=2021.5.30
idna>=2.10
soupsieve==2.5.0
aiohttp>=3.8.1
asyncio>=3.4.3
chardet>=4.0.0